<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/groups/editgroups/<%=input[0].id%>" method="post">
      Group Name :<br>
      <input type="text" name="groupname" value="<%=input[0].groupname%>">
      <br>
      <br>
    <button type="submit" name="Button">submit</button>
    </form>
  </body>
</html>
